.oneMillion {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 102.5%
  );
  filter: drop-shadow(0px 30px 31px rgba(0, 0, 0, 0.03));
  border-radius: 21px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 137.5%;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.instantlyRedesignButton {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 40%;
  top: 25%;
  z-index: 1;
}
.instantlyRedesignButton2 {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 26%;
  z-index: 1;
}
.instantlyRedesignButton3 {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 25%;
  margin-top: 20px;
  z-index: 1;
}

.instantlyRedesignButtonForMobile {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 25%;
  margin-top: 90px;
  z-index: 1;
}

.instantlyRedesignButtonForMobile2 {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 25%;
  margin-top: 130px;
  z-index: 1;
}

.instantlyRedesignButtonForMobile3 {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 25%;
  margin-top: 185px;
  z-index: 1;
}

.before {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 35%;
  top: 45%;
  z-index: 1;
}

.beforeMobile {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  left: 20%;
  margin-top: 240px;
  z-index: 1;
}

.beforeMobile2 {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  left: 20%;
  margin-top: 440px;
  z-index: 1;
}
.before2 {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 48%;
  margin-top: 200px;
  z-index: 1;
}
.after {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 10%;
  top: 45%;
  z-index: 1;
}

.afterMobile {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 20%;
  margin-top: 240px;
  z-index: 1;
}
.afterMobile2 {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 20%;
  margin-top: 440px;
  z-index: 1;
}
.after2 {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 15%;
  margin-top: 200px;
  z-index: 1;
}

@media (min-width: 1281px) {
  .instantlyRedesignButton {
    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(13.5px);
    border-radius: 53px;
    position: absolute;
    right: 35%;
    top: 25%;
    z-index: 1;
  }
  .instantlyRedesignButton2 {
    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(13.5px);
    border-radius: 53px;
    position: absolute;
    right: 22%;
    z-index: 1;
  }
  .instantlyRedesignButton3 {
    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(13.5px);
    border-radius: 53px;
    position: absolute;
    right: 20%;
    margin-top: 20px;
    z-index: 1;
  }

  .before2 {
    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(13.5px);
    border-radius: 53px;
    position: absolute;
    right: 40%;
    margin-top: 200px;
    z-index: 1;
  }
  .after2 {
    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(13.5px);
    border-radius: 53px;
    position: absolute;
    right: 13%;
    margin-top: 200px;
    z-index: 1;
  }

  .before {
    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(13.5px);
    border-radius: 53px;
    position: absolute;
    right: 30%;
    top: 45%;
    z-index: 1;
  }

  .after {
    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(13.5px);
    border-radius: 53px;
    position: absolute;
    right: 10%;
    top: 45%;
    z-index: 1;
  }
}

/* .instantlyRedesignButton {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 15px 27px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(13.5px);
  border-radius: 53px;
  position: absolute;
  right: 40%;
  top: 25%;
  z-index: 1;
} */

.redesigningButton {
  background: #0f7fef;
  box-shadow: 0px 15px 95px rgba(15, 127, 239, 0.45);
  border-radius: 56px;
}
.homeBackground {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(73, 15, 239, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.image {
  /* width: 200px; */
}

.mobileBackground {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(73, 15, 239, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.imageBorder {
  /* border-left: 4px solid rgba(255, 255, 255, 0.83);
  border-top: 4px solid rgba(255, 255, 255, 0.83);
  border-bottom: 4px solid rgba(255, 255, 255, 0.83);
  backdrop-filter: blur(13.5px);
  padding: 5px; */

  /* border-radius: 53px; */
}

.userReview {
  background: rgba(255, 255, 255, 0.9);
  border: 1.5px solid #eaecf0;
  border-radius: 20px;
  width: 370px;
  height: 361px;
  transition-duration: 300ms;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

.userReviewBig {
  background: rgba(255, 255, 255, 0.9);
  border: 1.5px solid #eaecf0;
  border-radius: 20px;
  width: 370px;
  height: 413px;
  transition-duration: 300ms;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease;
}
.userReviewBig:hover {
  background: #0f7fef;
  box-shadow: 25px 52px 83px rgba(15, 127, 239, 0.25);
  border-radius: 20px;
  transition-duration: 300ms;
  width: 370px;
  height: 413px;
  transform: translateY(20px);
}

.userReviewBlack {
  background: #263544;
  border: 1.5px solid #eaecf0;
  border-radius: 20px;
  width: 370px;
  height: 361px;
  transition-duration: 300ms;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

.userReviewBigBlack {
  background: #263544;
  border: 1.5px solid #eaecf0;
  border-radius: 20px;
  width: 370px;
  height: 413px;
  transition-duration: 300ms;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

.userReviewBigBlack:hover {
  background: #0f7fef;
  box-shadow: 25px 52px 83px rgba(15, 127, 239, 0.25);
  border-radius: 20px;
  transition-duration: 300ms;
  width: 370px;
  height: 413px;
  transform: translateY(20px);

  border: 1.5px solid #eaecf0;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease;
}

.userReview:hover {
  background: #0f7fef;
  box-shadow: 25px 52px 83px rgba(15, 127, 239, 0.25);
  border-radius: 20px;
  transition-duration: 300ms;
  width: 370px;
  height: 361px;
  transform: translateY(20px);
  color: white;
}
.userImageBorder{
  border: 0.852521px solid #0F7FEF;
  border-radius: 50%;
}
.userReview:hover .userImageBorder {
  border: 0.852521px solid white;
  border-radius: 50%;
  box-shadow: 25px 52px 83px rgba(15, 127, 239, 0.25);
  transition-duration: 300ms;
}

.userReviewBlack:hover {
  background: #0f7fef;
  box-shadow: 25px 52px 83px rgba(15, 127, 239, 0.25);
  border-radius: 20px;
  transition-duration: 300ms;
  width: 370px;
  height: 361px;
  transform: translateY(20px);
}

.uploadImageHead {
  background: #0f7fef;
  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 26px 43px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(13.5px);
  border-radius: 22px;
  padding: 16px 25px 16px 14px;
  color: white;
  /* height: 120px; */
  cursor: pointer;
}

.uploadImageHeadBlack {
  background: #263544;
  border-radius: 20px;
  padding: 16px 25px 16px 14px;
}

.uploadImageNonHeadBlack {
  padding: 16px 25px 16px 14px;
  background: #0f7fef;
  box-shadow: 0px 26px 43px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(13.5px);
  border-radius: 22px;
}

.uploadImageNonHead {
  background: linear-gradient(
    90.42deg,
    rgba(255, 255, 255, 0.5) -1%,
    rgba(255, 255, 255, 0.97) 131.76%
  );
  border: 2px solid rgba(255, 255, 255, 0.83);
  backdrop-filter: blur(13.5px);
  padding: 16px 25px 16px 14px;
  border-radius: 22px;
  cursor: pointer;

  /* For desktop media query will be added.  */
}

.workingHeading {
  margin-left: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
}

/* Media query */
@media (max-width: 768px) {
  .uploadImageHead {
    background: #0f7fef;
    border: 2px solid rgba(255, 255, 255, 0.83);
    box-shadow: 0px 26px 43px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(13.5px);
    border-radius: 22px;
    padding: 20px;
    color: white;
    /* width: 292px; */
  }
  .uploadImageNonHead {
    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(13.5px);
    padding: 20px;
    border-radius: 22px;
  }

  .buyCreditCard {

    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(13.5px);
    border-radius: 22px;

    /* background: #263544; */
    border-radius: 20px;
  }

  .oneMillion {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 102.5%
    );
    filter: drop-shadow(0px 30px 31px rgba(0, 0, 0, 0.03));
    border-radius: 21px;

    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 137.5%;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .workingHeading {
    margin-left: 5px;
    font-family: "Gilroy-Medium";
    font-size: 16px;
    line-height: 160%;
  }
}

.buyCreditCard {
  box-sizing: border-box;
    background: linear-gradient(
      90.42deg,
      rgba(255, 255, 255, 0.5) -1%,
      rgba(255, 255, 255, 0.97) 131.76%
    );
    border: 2px solid rgba(255, 255, 255, 0.83);
    backdrop-filter: blur(13.5px);
    border-radius: 22px;
}



/* @media (max-width: 1280px) {
  .lineImage{
    position: absolute;
    left: 24.2%;
    margin-top: 290px;
    height: 250px;
    z-index: 0
  }
}

@media (max-width: 480px) {
  .lineImage{
    position: absolute;
    left: 9.2%;
    margin-top: 290px;
    height: 250px;
    z-index: 0
  }
} */







.buyCreditCardBlack {
  border: 2px solid #4d657d;
  backdrop-filter: blur(13.5px);

  box-sizing: border-box;

  background: #263544;
  border-radius: 20px;
}

.coolImageHeadingMobile {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}

.buyCreditCardWithDiffBack {
  background: #0f7fef;
  box-shadow: 25px 64px 83px rgba(15, 127, 239, 0.25);
  border-radius: 0px 0px 30px 30px;
}

.whatIncBorder {
  border-right: 1px solid black;
}

.mostPopular {
  background: #354e67;
  border-radius: 30px 30px 0px 0px;
  color: white;
}

.boroCard {
  background: linear-gradient(
    95.16deg,
    #ffffff 0.93%,
    rgba(255, 255, 255, 0.97) 103.61%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  border: 2px solid rgba(255, 255, 255, 0.83);
  box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(13.5px);
  border-radius: 22px;
  padding: 40px;
}

.boroCardBlack {
  border: 2px solid #4d657d;
  backdrop-filter: blur(13.5px);
  border-radius: 22px;
  padding: 40px;
  box-sizing: border-box;
  background: #263544;
  border-radius: 20px;
}

.BoroBackground {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(73, 15, 239, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.borderDivider {
  width: 2px;
  background-color: #dedede;
  height: 200px;
}

.payNowButton {
  background: #0f7fef;
  border-radius: 79px;
}

.payNowButtonMiddle {
  background: white;
  border-radius: 79px;
}

.workingBackground {
  /* background: radial-gradient(50% 50% at 50% 50%, rgba(15, 127, 239, 0.11) 0%, rgba(255, 255, 255, 0) 100%); */

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(73, 15, 239, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  /* background: linear-gradient(to right, rgba(73, 15, 239, 0.12) 0%, rgba(255, 255, 255, 0) 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .workingBackgroundBlackForBack {

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(73, 15, 239, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
} */

.workingBackgroundBlack {
  /* background: radial-gradient(50% 50% at 50% 50%, rgba(15, 127, 239, 0.11) 0%, rgba(255, 255, 255, 0) 100%); */
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(15, 127, 239, 0.11) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.home {
  height: 100vh;
}

.bannerHome {
  height: 60vh;
}

.bannerHomeForMobile {
  height: 30vh;
  width: 100vh;
}

.redLine {
  width: 150px;
  height: 7px;
  background-color: orangered;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.tryIt {
  background: #0f7fef;
  border-radius: 56px;
  color: white;
  box-shadow: 0px 13px 67px rgba(15, 127, 239, 0.45);
}

.primaryContent {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(15, 127, 239, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.HomeHoleBackground {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(73, 15, 239, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.homeImag {
  width: 300px;
  height: 320px;
}

.bottomBorder {
  border-bottom: 1px solid #d0d0d0;
}

.mobileWorldwide {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(73, 15, 239, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.coolImages {
  height: 18rem;
  transition-duration: 300ms;
  position: relative;
  transition: transform 0.3s ease;
}
.coolImages:hover {
  height: 18rem;
  transition-duration: 300ms;
  cursor: pointer;

  /* transform: translateY(22rem); */
  transform: scale(1.1999);
}

/* For the font of this application */

.RoomInSec {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 125%;
}

.HomeForMobile {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  text-align: center;
}

.howItWorkscss {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}

.credit25 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  background: #409fff;
  border-radius: "32px";
}

.for20 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.usd {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}

.coolImageHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}

.transformRoom {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}
.ourReview {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 154.5%;
}

.selected {
  background-image: url("https://i.ibb.co/g32xxTm/Ellipse-8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3.85px;
  z-index: 1;
}
.notSelected {
  background-image: url("https://i.ibb.co/g32xxTm/Ellipse-8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  box-sizing: border-box;
  background: #ffffff;
  border: 2.5px solid #0f7fef;
  border-radius: 50%;
  z-index: 1;
}
